@model List<NHS.Common.DTO.clsBariatricDetails>
@using NHS.Models;
@{
    ViewBag.Title = "Bariatrics Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
@*<script src="cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>*@

<!-- DataTables -->

<div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="40%">
                <div id="showfilterdiv" class="ds_filter_btnblue" style="display:none !important;">
                    <a href="javascript:void(0);" onclick="ShowFilter()" id="showfilter" @*class="ds_filter_btn_show"*@> <img src="~/images/show-arrow-blue.png" alt="" />Show Advanced Filters</a>
                </div>
                <div id="hidefilterdiv" class="ds_filter_btnblue" style="display:block !important;">
                    <a href="javascript:void(0);" onclick="HideFilter()" id="hidefilter" @*class="ds_filter_btn_hide"*@> <img src="~/images/hide-arrow-blue.png" alt="" />Hide Advanced Filters</a>
                </div>
            </td>
            @*<td width="60%" align="right" style="padding:10px 15px"><b>Data Refreshed: From @ViewBag.UpdatedSource at @ViewBag.UpdatedDate</b></td>*@
        </tr>

    </table>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("BariatricsDashboard", "Home", new { buttonsubmit = true })" method="post">
                <div class="row" id="filtercondition">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row_bar">
                                    <input style="font-size:10px;height:38px; margin:0 0 0 0; width:100%" class="form-control  datepicker" readonly="readonly" type="text" id="txtStartDate" name="txtStartDate" placeholder="All Dates" value="Start Date @DateTime.ParseExact(Session["BAPPStartDate"].ToString(), "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row_bar">
                                    <input style="font-size:10px; margin:0 0 0 0; height:38px;width:100%" class="form-control  datepicker" readonly="readonly" type="text" id="txtEndDate" name="txtEndDate" placeholder="All Dates" value="End Date @DateTime.ParseExact(Session["BAPPEndDate"].ToString(), "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")">&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row_bar">
                                    <select style="font-size:12px;  margin:0 0 0 0;" class="form-control" id="ddlPathwayStatus" name="ddlPathwayStatus">
                                        @if (Convert.ToString(Session["PathwayStatus"]) == "")
                                        {
                                            <option selected value="">
                                                All Pathway Status
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="">
                                                All Pathway Status
                                            </option>
                                        }
                                        @if (Convert.ToString(Session["PathwayStatus"]).ToUpper() == "OPEN")
                                        {
                                            <option selected value="Open">Open</option>
                                        }
                                        else
                                        {
                                            <option value="Open">Open</option>
                                        }
                                        @if (Convert.ToString(Session["PathwayStatus"]).ToUpper() == "CLOSED")
                                        {
                                            <option selected value="Closed">Closed</option>
                                        }
                                        else
                                        {
                                            <option value="Closed">Closed</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                @*<div class="row_bar">
                                        <button id="btnSearch" type="submit" class="btn btn-primary btn-md" name="btnSearch">Search </button>
                                    </div>*@
                                <div class="ds_filter_cont">

                                    <ul>
                                        <li><button id="btnSearch" type="submit" data-toggle="tooltip" title="Search"><img src="~/images/search-icon-blue.png" alt="" /></button"></li>
                                        <li><button id="btnReset" type="button" data-toggle="tooltip" title="Reset Filters"><img src="~/images/refresh-icon-blue.png" alt="" /></button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" style="font-size:14px; padding:5px; border-bottom:0px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Activity Status</b></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">                            
                            <tr>
                                <td style="font-size:12px; padding:9px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Discharged pre - op - (pre VMDT)</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Discharged pre - op - (pre VMDT)', '')" data-toggle="tooltip" title="Discharged pre - op - (pre VMDT)"><b><u>@Convert.ToString(Session["Dischargedpreop"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:9px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Pre - surgery and Post op med</b></td>
                                <td style="font-size:12px; padding:12px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Pre - surgery and Post op med', '')" data-toggle="tooltip" title="Pre - surgery and Post op med"><b><u>@Convert.ToString(Session["Presurgerypostopmed"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:9px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Post op Diet - (Dietician) </b></td>
                                <td style="font-size:12px; padding:12px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Post op Diet - (Dietician)', '')" data-toggle="tooltip" title="Post op Diet - (Dietician)"><b><u>@Convert.ToString(Session["PostopdietCount"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:9px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Active</b></td>
                                <td style="font-size:12px; padding:12px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Active', '')" data-toggle="tooltip" title="Active"><b><u>@Convert.ToString(Session["Active"])</u></b></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">


            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" style="font-size:14px; padding:5px; border-bottom:0px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Pathway Events</b></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Agreement overdue</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Agreement overdue', '')" data-toggle="tooltip" title="Agreement overdue"><b><u>@Convert.ToString(Session["AgreementOverdue"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Incomplete group session</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Incomplete group session', '')" data-toggle="tooltip" title="Incomplete group session"><b><u>@Convert.ToString(Session["Incompletegroupsession"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>No surgery date</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'No surgery date', '')" data-toggle="tooltip" title="No surgery date"><b><u>@Convert.ToString(Session["Nosurgerydate"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Awaiting surgery</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Awaiting surgery', '')" data-toggle="tooltip" title="Awaiting surgery"><b><u>@Convert.ToString(Session["AwaitingSurgery"])</u></b></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;"><b>Pending Post diet appt</b></td>
                                <td width="12%" style="font-size:12px; padding:7px; border-bottom:1px #4F81BD solid; border-left:1px #4F81BD solid; border-right:1px #4F81BD solid; border-top:1px #4F81BD solid;" align="center"><a href="javascript:void(0)" onclick="GetBariatricList(1, 10, '', '', false, true, 'Pending Post diet appt', '')" data-toggle="tooltip" title="Pending Post diet appt"><b><u>@Convert.ToString(Session["Pendingpostdietappt"])</u></b></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <br />



    <div class="row">
        <div class="col-md-12" style="padding-left:0;">
            @*<div class="panel panel-info">*@
            @*<div class="panel-heading">Search</div>*@
            @*<div class="panel-body">*@
            <div class="" style="margin:10px 0 10px 0;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" width="82%"><label>Show <select id="tblPatientDetails_length" name="tblBariatrics_length" aria-controls="tblPatientDetails" class=""><option value="10">10 rows</option><option value="20">20 rows</option><option value="50">50 rows</option><option value="100">100 rows</option><option value="-1">Show All</option></select>&nbsp;&nbsp; entries</label></td>
                                    <td align="right">Search:</td>
                                    <td align="right">
                                        <input type="text" name="searchfield" id="searchfield" value="@ViewBag.SearchText" style="margin-left: 0.5em" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dvCustomerList">
                @Html.Partial("_BariatricsDetails", Model)
            </div>
        </div>
        @*</div>*@
        @*</div>*@
    </div>
</div>
<input type="hidden" id="Reset" name="Reset" value="" />
<br />
<br />

<script>
    $(function () {
        $("#searchfield").keyup(function () {
            var searchfield = $("#searchfield").val();
            var pagesize = $("#tblPatientDetails_length").val();
            GetBariatricList(1, searchfield, pagesize);
        });
    });
</script>
<script>
    function HideFilter()
    {
        $("#filtercondition").fadeOut(400);
        $("#showfilterdiv").show();
        $("#hidefilterdiv").hide();
    }
    function ShowFilter() {
        $("#filtercondition").fadeIn(400);
        $("#hidefilterdiv").show();
        $("#showfilterdiv").hide();
    }
</script>
<script>
    $(function () {
        $("#tblPatientDetails_length").change(function () {
            var searchfield = $("#searchfield").val();
            var pagesize = $("#tblPatientDetails_length").val();
            GetPage(1, searchfield, pagesize);
        });
    });
</script>
<script type="text/javascript">
$(function () {
    $("#btnSearch").click(function () {
window.location.href = "@Url.Action("BariatricsDashboard", "Home", new { isReset = false, buttonsubmit = true })";
    });
});
$(function () {
    $("#btnReset").click(function () {
        window.location.href = "@Url.Action("BariatricsDashboard", "Home", new { isReset = true })";
    });
});
    (function ($) {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
    })(jQuery)
</script>
<script language="javascript">
setInterval(function(){
   window.location.reload(1);
}, 1800000);
</script>
<script>
    function GetBariatricList(pPageNo, pageSize, searchfield, SortColumn, frompager, fromfilter, activitystatus, pathwayevent) {
        var pageSize = $("#tblPatientDetails_length").val();
        var dataActionUrl = '@Url.Action("MoreBAPPDetails", "Home")';
        //alert(IsPositiveDischarges);
        if (frompager == 'onclick')
        {
            //alert(frompager);
            frompager = true;
        }
        if (fromfilter == true) {
            $('#tblPatientDetails_length').val("10").attr("selected", "selected");
            $("#searchfield").val('');
            pageSize = 10;
        }
        $.ajax({
            url: dataActionUrl,
            data: {
                pageNumber: pPageNo, searchfield: searchfield, pageSize: pageSize, SortColumn: SortColumn, fromfilter: fromfilter, frompager: frompager,
                activitystatus: activitystatus, pathwayevent: pathwayevent
            },
            type: "POST",
            success: function (data) {
                $("#dvCustomerList").empty();
                $("#dvCustomerList").html(data);
                //$("#loader-wrapper1").hide();
                //$("#loader").hide();
            },
            error: function (data) {
                //$("#loader-wrapper1").hide();
                //$("#loader").hide();
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#tblPatientDetails').DataTable(
            {
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "order": [[0, "desc"]],
                "aoColumns": [
                    { "sName": "PatientName", "sTitle": "Name", "bSortable": "true" },
                    { "sName": "MRN", "sTitle": "MRN", "bSortable": "true" },
                    { "sName": "ReferralDate", "sTitle": "Referral Date", "bSortable": "true" },
                    { "sName": "NurseAssessment", "sTitle": "Nurse Assessment", "bSortable": "true" },
                    { "sName": "MDTMedical", "sTitle": "MDT Medical", "bSortable": "true" },
                    { "sName": "PsychologyAssess", "sTitle": "Psychology Assess", "bSortable": "true" },
                    { "sName": "Group1", "sTitle": "Group1", "bSortable": "true" },
                    { "sName": "Group2", "sTitle": "Group2", "bSortable": "true" },
                    { "sName": "Group3", "sTitle": "Group3", "bSortable": "true" },
                    { "sName": "Group4", "sTitle": "Group4", "bSortable": "true" },
                    { "sName": "MDTVirtual", "sTitle": "MDT Virtual", "bSortable": "true" },
                    { "sName": "MDTSurgical", "sTitle": "MDT Surgical", "bSortable": "true" },
                    { "sName": "Surgery", "sTitle": "Surgery", "bSortable": "true" },
                    { "sName": "PostOPMed", "sTitle": "Post OP Med", "bSortable": "true" },
                    { "sName": "PostOPDiet", "sTitle": "Post OP Diet", "bSortable": "true" },
                    { "sName": "Outcome", "sTitle": "Outcome", "bSortable": "true" }
                ],
                "lengthMenu": [
                    [10, 20, 50, 100, -1],
                    ['10 rows', '20 rows', '50 rows', '100 rows', 'Show all']]
            });
    });
</script>
